# ==============================================================================
# Variables d'Environnement — LAHAThèque Frontend (Production Coolify / VPS)
# ==============================================================================

# URL publique de l'API Backend Django
NEXT_PUBLIC_API_URL=https://api.lahatheque.com/api

# URL publique du Frontend Next.js
NEXT_PUBLIC_SITE_URL=https://lahatheque.com

# URL interne du serveur Django pour le SSR / BFF (si dans le même réseau Docker, ex: http://web:8000)
INTERNAL_API_URL=http://web:8000

# Port d'écoute du serveur Next.js
PORT=3000
